@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
   font-family: "open sans";
   background: linear-gradient(lightgreen,purple);
   color: whitesmoke;
  }  

section{
   text-align: left;
}

.einn{
   text-align: center;
}

